<div id="welcomePanelRoot" class="evil-logo">
	<welcome-panel></welcome-panel>
<!-- 	<div id = "topPanelRoot">
		<top-panel></top-panel>
	</div>
	<div class="footer">
		Copyright © 2019 SandyDove All rights reserved.
	</div>
</div>

<script>
	new Vue({
	  el: '#welcomePanelRoot'
	})
</script>