<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
  	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title>SandyDove</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'welcome', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <%= yield %>
  </body>
</html>
